<a href="/glossary"><button type="button" class="btn btn-outline-dark">Glossary</button></a>
<a href="/"><button type="button" class="btn btn-outline-warning">Home</button></a>
<a href="/"><button type="button" class="btn btn-outline-primary">Primary</button></a>
<a href="/"><button type="button" class="btn btn-outline-success">Success</button></a>
<a href="/"><button type="button" class="btn btn-outline-danger">Danger</button></a>
<a href="/"><button type="button" class="btn btn-outline-info">Info</button></a>
